.signup {
  position: relative;
  min-height: 100vh;
  //width: 100vw;
  background: black;
  padding: 4.8rem;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: url("../images/vaccine-bg.png");
    background-size: cover;
    background-position: top;
    filter: blur(10px);
  }

  &-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  &-content-container{
    width: 40vw;
    background-color: white;
    padding: 4rem 4rem 3rem 4rem;
    border-radius: 10px;
    z-index: 999;
  }

  &-header{
    display: flex;
    justify-content: center;
    margin-bottom: 3.5rem;
    span {
      color: #2d7ba1;
      font-size: 2.5rem;
    }
  }
  &-email{
    &-container{
      margin: 1rem 0;
    }
    &-header{
      padding: 0.25rem 0.5rem;
      span{
        font-size:1rem;
        color: #262626;
      }
    }
  }
  &-password{
    &-container{
      margin: 0.5rem 0;
    }
    &-header{
      padding: 0.25rem 0.5rem;
      display: flex;
      justify-content: space-between;
      &-primary{
        font-size:1rem;
        color: #262626;
      }
      &-secondary{
        font-size:1rem;
        color: #2766cc;
      }
    }
  }
  &-button{
    border-radius: 4.5px;
    height: 5rem;
    margin-top: 3.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    background-color: #037ba1;
    border: none;
    span{
      font-size: 1.6rem;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
    }
  }

  &-not-registered {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  &-register-button {
    margin-top: 0;
    cursor: pointer;
  }
  .switch-cont {
    text-align: center;
    margin-top: 2rem;
    span.link {
      font-weight: bold;
      color: #2d7ba1;
      cursor: pointer;
    }
  }
}

input {
  font-size: 1.8rem !important;
}
.input-container {
  display: flex;
  align-items: center;
  & span {
    font-size: 1.8rem;
    margin-right: 1.8rem;
  }
  &>div {
    flex: 1;
  }
  &>input, &>.ant-picker {
    flex: 2;
  }
  &>.option-cont {
    flex: 2;
    margin-left: -0.5rem;
    display: flex;
    .ant-select {
      flex: 1;
    }
  }
  //&>.input{
  //  flex: 3;
  //}
}

@media only screen and (max-width: 1020px) {
  .input-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin: 2rem 0;
  }
}
